.profile {
    margin: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    width:350px;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.01em;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  
  }
  
  .description {
 padding-top: 30px;
 justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    width: 40%;
    height: 50%;
    border-radius: 50%;
    margin: auto;
    border: 1px solid #000000;
    margin-bottom: 3cqmax;
  }
  
  .name {
    font-size: 25px;
font-weight: 600;
padding: 0;
margin: 0;
  }
  
  .tag {
    font-size: 15px;
    color: #8B8A8A;
    padding: 0;
    margin-bottom: 5px;
  }
  
  .location {
    font-size: 15px;
    color: #8B8A8A;
    padding: 0;
margin-bottom: 25px;
  }
  
  .stats {
    background-color: #EFF2F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
    border-top: 1px solid #C3C5C5;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .stats li {
    flex-basis: calc((100% - 2px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 10px;
  }
  
  .stats li:not(:last-child) {
    border-right: 1px solid #C3C5C5;
  }
  .label {
    font-size: 15px;
    margin-bottom: 5px;
    color: #8B8A8A;
  }
  
  .quantity {
    font-size: 15px;
    font-weight: 700;
  }