.transaction-history {
    margin:0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
    width:350px;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.01em;
box-shadow:  1px 6px 0px rgba(46, 47, 66, 0.08), 
0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}